.register {
    >.row {
        margin: 0;
    }
}

.register-form {
    >div:not(:first-child) {
        >label {
            width: 35%;
        }
    }
    >div {
        >input {
            opacity: 0.7;
        }
    }
}

#user_register_form_roles {
    margin-left: -12%;
    >input:not(:first-child) {
        margin-left: 3%;
    }
}