<section class="navbar menu-top">
  <div id="app-menu-top" class="container">
      <nav class="navbar navbar-toggleable-md">
          <a class="navbar-toggler navbar-toggler-right menu-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-top" aria-controls="navbarNavDropdown-top" aria-expanded="false" aria-label="Toggle navigation">
              Show
          </a>
          <a class="navbar-brand text-white" href="#">Welcome to Perfect Wedding</a>
          <div  id="navbarNavDropdown-top" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link text-white" href="">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{{ path('user_profile') }}">Profile <span class="glyphicon glyphicon-user"></span></a>
              </li>
          </ul>
          </div>
      </nav>
  </div>
</section>
