<section class="jumbotron jumbotron-fluid container-fluid site-section home__header">
  <div class="container home__header_wrapper">
    <div class="col-sm-10 center-block form-group home__headerSearchForm_wrapper">
      <h1>Find your perfect <span class="txt-pink">Wedding</span> Supplier</h1>
      <p class="home__header_tagline">Over 1200+ <span class="txt-pink">Wedding</span> suppliers for your special date. Find your perfect venue and save your date.</p>
      <form action="#" method="get" class="row home__headerSearchForm">
        <label class="hidden" for="searchForm-select-category" aria-hidden="false">Select Category</label>
        <select class="form-control col-md-4 col-sm-12 home__headerSearchForm_select" id="searchForm-select-category"
                name="searchForm-select-category" required>
          <option value="default">Select Category</option>
          <option value="cakes">Cakes</option>
          <option value="decorators">Decorators & Wedding Stylist</option>
          <option value="drinks">Drinks and Beverages</option>
          <option value="fashion">Fashion & Clothing</option>
          <option value="fireworks">Fireworks for Wedding</option>
          <option value="florists">Florists & Bouquets</option>
          <option value="food">Food & Catering</option>
          <option value="footwear">Footwear</option>
          <option value="honeymoon">Honeymoon & Accomodation (In Mauritius)</option>
          <option value="invitationCards">Invitation Cards & Wedding Stationary</option>
          <option value="jewellery">Jewellery & Wedding Rings</option>
          <option value="makeup">Make-up, Hair Stylists, Nail & Henna</option>
          <option value="music">Music, DJS & Entertainment</option>
          <option value="photography">Photography, Videography & Cinematography</option>
          <option value="venues">Venues</option>
          <option value="transport">Wedding Cars & Transport</option>
          <option value="officiants">Wedding Officiants</option>
          <option value="planner">Wedding Preparation & Planner</option>
          <option value="others">Other Party Products Supplies & Accessories</option>
        </select>
        <label class="hidden" for="searchForm-input-location-autocomplete" aria-hidden="false">Search or Browse for a location</label>
        <div class="input-group awesomplete col-md-5 col-sm-12">
          <input id="searchForm-input-location-autocomplete" class="form-control dropdown-input home__headerSearchForm_text" placeholder="Search or Browse for a location" required />
          <div class="input-group-btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          </div>
        </div>
        <button type="submit" class="btn btn-violet col-md-3 col-sm-12 home__headerSearchForm_submit">FIND SUPPLIER</button>
      </form>
    </div>
  </div>
</section>
