<section class="jumbotron jumbotron-fluid container-fluid site-section home__header">
  <div class="container home__header_wrapper">
    <div class="col-sm-10 center-block form-group home__headerSearchForm_wrapper">
      <h1>Find your perfect <span class="txt-pink">Wedding</span> Supplier</h1>
      <p class="home__header_tagline">Over 1200+ <span class="txt-pink">Wedding</span> suppliers for your special date. Find your perfect venue and save your date.</p>
      <form action="{{ path('search') }}" method="get" class="row home__headerSearchForm">
        <label class="hidden" for="searchForm-select-category" aria-hidden="false">Select Category</label>
        <select class="form-control col-md-4 col-sm-12 home__headerSearchForm_select" id="searchForm-select-category"
                name="category" required>
                <option value="all">Select Category</option>
                {% for cat in category %}
                  <option value=cat['tid']>cat['name']</option>
                {% endfor %}
        </select>
        <label class="hidden" for="searchForm-input-location-autocomplete" aria-hidden="false">Search or Browse for a location</label>
        <select class="form-control col-md-4 col-sm-12 home__headerSearchForm_select" id="searchForm-select-category"
                name="location" required>
                <option value="all">Select Location</option>
                {% for loc in location %}
                  <option value=loc['tid']>loc['name']</option>
                {% endfor %}
        </select>
        
        <!--<div class="input-group awesomplete col-md-5 col-sm-12">
          <input name="location" id="searchForm-input-location-autocomplete" class="form-control dropdown-input home__headerSearchForm_text" placeholder="Search or Browse for a location" required />
          <div class="input-group-btn">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          </div>
        </div>-->
        <button type="submit" class="btn btn-violet col-md-3 col-sm-12 home__headerSearchForm_submit">FIND SUPPLIER</button>
      </form>
    </div>
  </div>
</section>
