<section class="container-fluid site-section home__planning-tools parallax">
  
  <div class="container home__planning-tools_content">
    
    <h2 class="home__planning-tools_header">Are you trying our planning tools?</h2>
    
    <div class="row home__planning-tools_icons">
      <div class="col-md-3">
        {{ include('WeddingBundle:Components:iconBlock.html.twig', {
          icon: 'fa fa-calendar',
          title: 'Checklist',
          desc: 'Get your planning sorted with our free <span>wedding</span> planning checklist!'
        }) }}
      </div>
      
      <div class="col-md-3">
        {{ include('WeddingBundle:Components:iconBlock.html.twig', {
          icon: 'fa fa-calculator',
          title: 'Budget Planner',
          desc: 'Budget estimator tool that lets you specify your program plan.'
        }) }}
      </div>
      
      <div class="col-md-3">
        {{ include('WeddingBundle:Components:iconBlock.html.twig', {
          icon: 'fa fa-user',
          title: 'Guestlist',
          desc: 'Build your free <span>wedding</span> guest list, collect mailing addresses and RSVPs.'
        }) }}
      </div>
      
      <div class="col-md-3">
        {{ include('WeddingBundle:Components:iconBlock.html.twig', {
          icon: 'fa fa-cutlery',
          title: 'Table Planner',
          desc: 'Easy online tool for creating seating arrangements for <span>weddings</span>'
        }) }}
      </div>
      
    </div>
    
  </div>
  
</section>