<section class="container-fluid site-section home__popular-categories">
  
  <div class="container home__popular-categories_container">
    
    <h2 class="home__popular-categories_heading">Popular Categories</h2>
    
    <div class="row home__popular-categories_inner-wrapper">
      {% for category in categories %}
      <div class="col-md-4 col-sm-6 text-center home__popular-categories_category-listing">
        {{ include('WeddingBundle:Components:squaredImageBlock.html.twig',
          {
            link: category['name'],
            src: category['field_category_image'],
            alt: 'Category Image',
            title: category['name'],
            avail: '12+'
          })
        }}
      </div>
      {% endfor %}
    </div>
    
    <div class="row home__popular-categories_cta">
      <a href="#" class="btn btn-primary bg-pink">View all suppliers</a>
    </div>
    
  </div>

</section>