<section class="container-fluid site-section home__testimonials">
  <div class="container home__testimonials_container">
    <h2 class="home__testimonials_title">Be Inspired by Real Weddings</h2>
    <div class="row home__testimonials_content">
      <div class="col-sm-10 col-sm-offset-1 col-md-4 home__testimonials_item">
        {{ include('WeddingBundle:Components:roundImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Wedding Couple',
            desc: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
            user: 'Chris and Marie',
            date: 'Thu, 13th July 2015'
          })
        }}
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-md-4 home__testimonials_item">
        {{ include('WeddingBundle:Components:roundImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Wedding Couple',
            desc: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
            user: 'Chris and Marie',
            date: 'Thu, 13th July 2015'
          })
        }}
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-md-4 home__testimonials_item">
        {{ include('WeddingBundle:Components:roundImageBlock.html.twig',
          {
            link: '#',
            src: '/perfectwedding/web/bundles/build/images/stock_photos/pexels-photo-256737.jpg',
            alt: 'Wedding Couple',
            desc: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.',
            user: 'Chris and Marie',
            date: 'Thu, 13th July 2015'
          })
        }}
      </div>
    </div>
  </div>
</section>