// Generic
$max-site-width: 1360px;

// Colors
$color-darkest-grey : #333;
$color-dark-grey: #999;

$color-light-grey: #ccc;
$color-lighter-grey: #eee;
$color-lightest-grey: rgb(252, 251, 249);

$color-fluo-green: #7CFC00;
$color-forest-green: #00a65a;

$color-tangerine-orange: #f39c12;

$color-star-yellow: rgb(255, 197, 19);

$color-sky-blue: #00BFFF;