.bg-overlay {
  background          : linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
  background-repeat   : no-repeat;
  background-size     : cover;
  background-position : center center;
  color               : $white;
  height              : 800px;
  padding-top         : 200px;
  width               : 100%;
}

.bg-no-overlay {
  background          : url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
  background-repeat   : no-repeat;
  background-size     : cover;
  background-position : center center;
  color               : $white;
  height              : 800px;
  padding-top         : 200px;
}

.bg-white {
  background-color : $white;
}

.bg-pink {
  background-color : $pink;
  border           : none;
  color            : $white;
}

.hidden {
  display: none !important;
}

.center-block {
  display: block !important;
  margin: 0 auto !important;
}

.btn-violet {
  background-color : $purple;
  color            : $white;
  
  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color : $pink;
  }
}

.btn-primary {
  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color : $purple;
  }
}

.txt-pink {
  color : $pink;
}

.txt-green {
  color:#98FB98;
}

.text-rose {
  color : #e80271;
}