{% extends 'WeddingBundle:Regions:base.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
      <div class="col-md-12 text-center ">
        <div class="panel panel-default">
          <div class="userprofile social ">
            <div class="userpic"> <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="userpicimg"> </div>
            <h3 class="username">The Empire</h3>
            <div class="socials tex-center"> <a href="" class="btn btn-circle btn-primary ">
            <i class="fa fa-facebook"></i></a> <a href="" class="btn btn-circle btn-danger ">
            <i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-circle btn-info ">
            <i class="fa fa-twitter"></i></a> <a href="" class="btn btn-circle btn-warning "><i class="fa fa-envelope"></i></a>
            </div>
          </div>
          <div class="col-md-12 border-top border-bottom">
            <ul class="nav nav-pills pull-left countlist" role="tablist">
              <li role="presentation">
                <h3>1452   <span class="fa fa-smile-o ml-3"></span></h3>
              </li>
              <li role="presentation">
                <h3>245   <span class="fa fa-meh-o ml-3"></span></h3>
              </li>
              <li role="presentation">
                <h3>5000   <span class="fa fa-frown-o ml-3"></span></h3>
              </li>
            </ul>
            <button class="btn btn-primary followbtn" data-toggle="modal" data-target="#myModal">Send Enquiry</button>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Enquiry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<div class="row">
	<div class="col-md-12">
                    <div class="contact_form">
                    		<h3 class="heading"> Send Enquiry <span></span></h3>
                            	<div class="con_form">
                                <form action="action.php?flg=tr" method="post" id="contactFrm" name="contactFrm">
                                    <input type="text" required="" placeholder="Your Name" value="" tabindex="1" name="name" class="con_txt">
                                    <input type="text" required="" placeholder="Your Phone No" tabindex="2" value="" name="mobile" class="con_txt">
                                    <input type="text" required="" placeholder="Your Email" tabindex="3" value="" name="email" class="con_txt">
                                    
                                     <textarea placeholder="Your Message" name="message" type="text" class="con_txt_3" tabindex="4"></textarea>

                                    
                				</form>
                                </div>
                    	
                    </div>
                
               
                </div>
	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-12">

      </div>
      <!-- /.col-md-12 -->
      <div class="col-md-4 col-sm-12 pull-right">
        <div class="panel panel-default">
            <div id="googleMap" style="width:100%;height:400px;"></div>

            <script>
            function myMap() {
            var mapProp= {
                center:new google.maps.LatLng(51.508742,-0.120850),
                zoom:5,
            };
            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
            }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdXw4tPFGoRhrnwYs__6omc0hBUabv6Hk&callback=myMap">
            </script>
        </div>
        <div class="panel panel-default">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item"><span class="fa fa-clock-o"></span> Monday (18h00 to 19h00) </li>
              <li class="list-group-item"><span class="fa fa-clock-o"></span> Tuesday (18h00 to 19h00) </li>
              <li class="list-group-item"><span class="fa fa-clock-o"></span> Wednesday (18h00 to 19h00) </li>
              <li class="list-group-item"><span class="fa fa-clock-o"></span> Thursday (18h00 to 12h00) </li>
              <li class="list-group-item"><span class="fa fa-clock-o"></span> {{ id }}</li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="col-md-8 col-sm-12 pull-left posttimeline">

        <div class="slider slider-supplier-for">
            <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/000/fff'/></div>
            <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/fff/000'/></div>
            <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/000/fff'/></div>
            <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/fff/000'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/000/fff'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/fff/000'/></div>
        </div>
        <div class="slider slider-supplier-nav">
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/000/fff'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/fff/000'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/000/fff'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/fff/000'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/000/fff'/></div>
            <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/fff/000'/></div>
        </div>

<br/><br/>

        {# <div class="panel panel-default">
          <div class="panel-body">
            <div class="status-upload nopaddingbtm">
              <form>
                <textarea class="form-control" placeholder="What do you think of me?"></textarea>
                <br>
                <ul class="nav nav-pills pull-left ">
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class=" glyphicon glyphicon-facetime-video"></i></a></li>
                  <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="glyphicon glyphicon-picture"></i></a></li>
                </ul>
                <button type="submit" class="btn btn-success pull-right"> Share</button>
              </form>
            </div>
            <!-- Status Upload  --> 
          </div>
        </div>
        <div class="panel panel-default">
          <div class="btn-group pull-right postbtn">
            <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="javascript:void(0)">Hide this</a></li>
              <li><a href="javascript:void(0)">Report</a></li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="media">
              <div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object"> </a> </div>
              <div class="media-body">
                <h4 class="media-heading">Lucky Sans<br>
                  <small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>

                <ul class="nav nav-pills pull-left ">
                  <li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
                  <li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
                  <li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>#}
      </div>
    </div>
</div>
</div>
{% endblock %}
