{% extends 'WeddingBundle:Regions:base.html.twig' %}

{% block title %}Supplier{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-8">
    <div class="container supplier-container">

    <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#photo" role="tab" data-toggle="tab">Photo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">buzz</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
    </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active show" id="photo">
    
    
    <div class="slider slider-supplier-for">
        <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/000/fff'/></div>
        <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/fff/000'/></div>
        <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/000/fff'/></div>
        <div><img class="slider-supplier-for-img" src='https://dummyimage.com/600x400/fff/000'/></div>
    </div>
    <div class="slider slider-supplier-nav">
        <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/000/fff'/></div>
        <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/fff/000'/></div>
        <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/000/fff'/></div>
        <div><img class="slider-supplier-nav-img" src='https://dummyimage.com/600x400/fff/000'/></div>
    </div>
    
    </div>
    <div role="tabpanel" class="tab-pane fade" id="buzz">bbb</div>
    <div role="tabpanel" class="tab-pane fade" id="references">ccc</div>
    </div>

    </div>
</div>

<div class="col-md-4">

<div class="container">
	<div class="row">
		<div class="col-md-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="http://lorempixel.com/100/100/people/9/">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">Script Eden</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-sc btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-sc btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-sc btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-sc btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>
















</div>
</div>

{% endblock %}

