.hero-banner {
  
  position: relative;
  max-height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &--short {
    max-height: 300px;
  }
  
  &--tall {
    max-height: 600px;
  }
  
  &__image {
    max-height: 100%;
    max-width: 100%;
  }
  
  &__content-wrapper {
    position: absolute;
    padding: 30px 0;
  }
  
  &__bottom-content {
    align-self: flex-end;
    
    .hero-banner {
      &__content-wrapper {
        bottom: 0;
        padding: 30px 0 50px;
      }
    }
    
  }
  
  &__center-content {
    align-self: center;
  }
  
  &__listing-details {
    padding-bottom: 30px;
    border-bottom: 1px solid $color-dark-grey;
  }
  
  &__social-content {
    padding-top: 30px;
    .btn {
      text-transform: uppercase;
      color: $white;
      font-weight: bold;
    }
  }
  
  &__category,
  &__title,
  &__address {
    color: $white;
  }
  
  &__category {
    span {
      font-size: .75rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $teal;
      padding: 3px 8px;
      border-radius: 3px;
      width: auto;
    }
  }
  
  &__address {
    address {
      margin-bottom: 0;
    }
  }
  
  &__rating {
    color: $color-star-yellow;
    .fa  {
      &:hover {
        cursor: pointer;
      }
    }
  }
  
}