{% set page = 'guestlist' %}
{% extends 'WeddingBundle:Dashboard:base.html.twig' %}

{% block dashboardContent %}

<div class="container-steps text-center">
	<div class="row">


<div class="col-xs-3">
        <div id='external-events'>
          <div id='external-events-listing'>
            <h4>Draggable Events</h4>
            <div class='fc-event'>My Event 1</div>
            <div class='fc-event'>My Event 2</div>
            <div class='fc-event'>My Event 3</div>
            <div class='fc-event'>My Event 4</div>
            <div class='fc-event'>My Event 5</div>
          </div>
          <p>
            <input type='checkbox' id='drop-remove' checked='checked' />
            <label for='drop-remove'>remove after drop</label>
          </p>
        </div>
</div>
		<div class="col-xs-9">
			<div id='calendar'></div>
		</div>
	</div>
</div>


    {#<div class="container-steps text-center">
	    <div class="row form-group">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail setup-panel step-list">
                    <li class="active"><a href="#step-1">
                        <h4 class="list-group-item-heading"><span class="fa fa-list"></span> Guest List</h4>
                        <p class="list-group-item-text">Create Your List & Manage All Guest Here...</p>
                    </a></li>
                    <li class="unactive"><a href="#step-2">
                        <h4 class="list-group-item-heading"><span class="fa fa-list"></span> Event Manager</h4>
                        <p class="list-group-item-text">Create & Manage Dinners, Reception, And Other Events...</p>
                    </a></li>
                    <li class="unactive"><a href="#step-3">
                        <h4 class="list-group-item-heading"><span class="fa fa-list"></span> Seating Planner</h4>
                        <p class="list-group-item-text">Add Tables, Allocate Seats For Events Created...</p>
                    </a></li>  
                </ul>
                
            </div>
	    </div>
    </div>	

<form class="container" action="{{ path('user_dashboard_guest_save') }}" id="guestlist-save-form">
<input type="hidden" value="{{ path('user_dashboard_guest_get') }}" id="guestlist-get"/>
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well">

<!-- <form> -->               

    <div class="container col-xs-12">
        <div class="row clearfix">
		    <div class="col-md-12 column">
                    <table id="table-guestlist" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Guest Name</th>
                                <th>Contact No</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
		    </div>
	    </div>
    </div>
                
<!-- </form> -->
            </div>
        </div>
    </div>

</form>

<form class="container">

    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">

<button id="addEvent" data-toggle="modal" data-target="#eventModal">+ Add Event</button>
    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day">4</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">ALL DAY</span>
						</time>
						<img alt="Independence Day" src="https://farm4.staticflickr.com/3100/2693171833_3545fb852c_q.jpg" />
						<div class="info">
							<h2 class="title">blabla event</h2>
							<p class="desc">blabla event holiday</p>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>

					<li>
						<time datetime="2014-07-20 0000">
							<span class="day">8</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">12:00 AM</span>
						</time>
						<div class="info">
							<h2 class="title">blabla event</h2>
							<p class="desc">blabla event</p>
							<!--<ul>
								<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a></li>
								<li style="width:50%;"><span class="fa fa-money"></span> $39.99</li>
							</ul>-->
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>

					<li>
						<time datetime="2014-07-20 2000">
							<span class="day">20</span>
							<span class="month">Jan</span>
							<span class="year">2014</span>
							<span class="time">8:00 PM</span>
						</time>
						<img alt="My 24th Birthday!" src="https://farm5.staticflickr.com/4150/5045502202_1d867c8a41_q.jpg" />
						<div class="info">
							<h2 class="title">blabla event !</h2>
							<p class="desc">blabla event</p>
							<!--<ul>
								<li style="width:33%;">1 <span class="glyphicon glyphicon-ok"></span></li>
								<li style="width:34%;">3 <span class="fa fa-question"></span></li>
								<li style="width:33%;">103 <span class="fa fa-envelope"></span></li>
							</ul>-->
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>

					<li>
						<time datetime="2014-07-31 1600">
							<span class="day">31</span>
							<span class="month">Jan</span>
							<span class="year">2014</span>
							<span class="time">4:00 PM</span>
						</time>
						<img alt="Disney Junior Live On Tour!" src="http://www.thechaifetzarena.com/images/main/DL13_PiratePrincess_thumb.jpg" />
						<div class="info">
							<h2 class="title">Disney blabla event</h2>
							<p class="desc"> Pirate blabla event</p>
							<ul>
								<li style="width:33%;">15 <span class="fa fa-male"></span></li>
								<!--<li style="width:34%;">$29.99 <span class="fa fa-child"></span></li>-->
							</ul>
						</div>
						<div class="social">
							<ul>
								<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
								<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
								<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>




            </div>
           

                </div>               
            </div>
        </div>
    </div>

</form>

<form class="container">

    <div class="row setup-content" id="step-3">
            <div class="col-md-12 well text-center">




<div class="controls">
  <h1>Wedding Table Planner <span> : A (buggy) way to plan your wedding</span></h1>
  <input placeholder="Guest Names (Comma Separated)" type="text" id="guest_names"><button id="add_guests" class="guest_names" for="guest_names">Add Guests</button>
  <button id="table">Add Table</button>
  <button id="export">Export</button>
</div>  


  <ul id="sortable" class="guests">
    
  </ul>

<div id="tables">
  <ul id="table_1" class="snap_target guests">
    
    <p></p>
    <span contenteditable="true" class="table_number">1</span>
  </ul>
</div>
<div class="export_area">
  
  <textarea id="export_text"></textarea>
  <br style="clear:both">
</div>
  




            </div>
    </div>

</form>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="{{ path('user_dashboard_budget_add') }}" id="budget-new-form">
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Name:</label>
                    <div class="col-md-8">
                    <input type="name" class="form-control" id="new-guest-name" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Contact Number:</label>
                    <div class="col-md-8">
                    <input type="name" class="form-control" id="new-guest-contact-number" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="name">Email:</label>
                    <div class="col-md-8">
                    <input type="name" class="form-control" id="new-guest-email" placeholder="">
                    </div>
                </div>
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="add-guest-row" class="btn btn-default" data-dismiss="modal">Add Guest</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

<!-- modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-body">
                    <div class="close-button">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" frameborder="0"></iframe>
                    </div>
				</div>
			</div>
		</div>
	</div>
<!-- /.modal -->
#}
{% endblock %}